<div class="sub-menu container">
  <div class="row">
    <div class="sub-menu-item col">
      <a href="#site-gallery">
        <p class="sub-menu-project">הפרויקטים</p>
      </a>
    </div>
    <div class="sub-menu-item col">
      <p class="sub-menu-top-item">אתרי תדמית</p>
      <p class="sub-menu-bottom-item">corporate web</p>
    </div>
    <div class="sub-menu-item col">
      <p class="sub-menu-top-item">חנויות וירטואליות</p>
      <p class="sub-menu-bottom-item">e-commerce</p>
    </div>
    <div class="sub-menu-item col">
      <p class="sub-menu-top-item">מערכות ואפליקציות WEB</p>
      <p class="sub-menu-bottom-item">web applications</p>
    </div>
    <div class="sub-menu-item col">
      <p class="sub-menu-top-item">עמודי נחיתה</p>
      <p class="sub-menu-bottom-item">landing</p>
    </div>
  </div>
</div>
