<header class="site-header">
  <nav class="navbar bg-dark">
        <div class="sitelogo col-1">
          <span class="text-white">
            <i class="fa fa-bars fa-1x"></i>
          </span>
        </div>
        <div class="contact col-9">
          <p class="text-white"><i class="fa fa-map-marker"></i>הארבעה 19, מגדל התיכון, תל-אביב</p>
          <p class="text-white"><i class="fa fa-phone"></i>077-670-4363</p>
          <p class="text-white"><i class="fa fa-envelope"></i>sentrysite@gmail.com</p>
        </div>
        <div class="col-2">
          <a class="navbar-brand" href="#">
           <img src="./assets/core-img/site-logo.png" alt="Site Logo">
          </a>
        </div>
  </nav>
</header>
