<div id="site-gallery" class="container-full">
  <div class="row row-1">
    <div class="col-3"><img src="/assets/projects-gallery/avi.jpg" alt="" width="100%" height="auto"></div>
    <div class="col-3"><img src="/assets/projects-gallery/selwe.jpg" alt="" width="100%" height="auto"></div>
    <div class="col-3"><img src="/assets/projects-gallery/assayag.jpg" alt="" width="100%" height="auto"></div>
    <div class="col-3"><img src="/assets/projects-gallery/gogi.jpg" alt="" width="100%" height="auto"></div>
  </div>

  <div class="row row-2">
    <div class="col-3"><img src="/assets/projects-gallery/luba.jpg" alt="" width="100%" height="auto"></div>
    <div class="col-3"><img src="/assets/projects-gallery/gigo.jpg" alt="" width="100%" height="auto"></div>
    <div class="col-3"><img src="/assets/projects-gallery/ariel.jpg" alt="" width="100%" height="auto"></div>
    <div class="col-3"><img src="/assets/projects-gallery/tv.jpg" alt="" width="100%" height="auto"></div>
  </div>


</div>
